<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="thefooter">
    Copyright &copy; 2015 Material Admin

    <ul class="footer__menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>
<body th:fragment="thebottom">
<!-- Older IE Warning -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web
        browsers to access this website.</p>
    <div class="ie-warning__container">
        <ul class="ie-warning__download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img th:src="@{/admin/img/browsers/chrome.png}" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img th:src="@{/admin/img/browsers/firefox.png}" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img th:src="@{/admin/img/browsers/opera.png}" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img th:src="@{/admin/img/browsers/safari.png}" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img th:src="@{/admin/img/browsers/ie.png}" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->


<!-- Javascript Libraries -->

<!-- jQuery -->
<script th:src="@{/admin/vendors/bower_components/jquery/dist/jquery.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Malihu ScrollBar -->
<script th:src="@{/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

<!-- Bootstrap Notify -->
<script th:src="@{/admin/vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js}"></script>

<!-- Moment -->
<script th:src="@{/admin/vendors/bower_components/moment/min/moment.min.js}"></script>

<!-- FullCalendar -->
<script th:src="@{/admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js}"></script>

<!-- Simple Weather -->
<script th:src="@{/admin/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js}"></script>

<!-- Salvattore -->
<script th:src="@{/admin/vendors/bower_components/salvattore/dist/salvattore.min.js}"></script>

<!-- Flot Charts -->
<script th:src="@{/admin/vendors/bower_components/flot/jquery.flot.js}"></script>
<script th:src="@{/admin/vendors/bower_components/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/admin/vendors/bower_components/flot.curvedlines/curvedLines.js}"></script>

<!-- Sparkline Charts -->
<script th:src="@{/admin/vendors/jquery.sparkline/jquery.sparkline.min.js}"></script>

<!-- EasyPie Charts -->
<script th:src="@{/admin/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js}"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script th:src="@{/admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js}"></script>
<![endif]-->

<!-- Demo Only -->
<script th:src="@{/admin/demo/js/flot-charts/curved-line.js}"></script>
<script th:src="@{/admin/demo/js/flot-charts/line.js}"></script>
<script th:src="@{/admin/demo/js/easy-pie-charts.js}"></script>
<script th:src="@{/admin/demo/js/misc.js}"></script>
<script th:src="@{/admin/demo/js/sparkline-charts.js}"></script>
<script th:src="@{/admin/demo/js/calendar.js}"></script>

<!-- Site Functions & Actions -->
<script th:src="@{/admin/js/app.min.js}"></script>
</body>
</html>