<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer id="fh5co-footer">
    <p>
        <small>&copy; 2018. A New Magazine Site. All Rights Reserverd. <br>
            More Information
            <a href="https://waylanpunch.github.io/" target="_blank" title="GitHub Page">GitHub</a>
            - Build By
            <a href="https://github.com/WaylanPunch" title="WAYLAN PUNCH" target="_blank">WAYLAN PUNCH</a>
        </small>
    </p>
</footer>

<!-- jQuery -->
<script th:src="@{js/jquery.min.js}"></script>
<!-- jQuery Easing -->
<script th:src="@{js/jquery.easing.1.3.js}"></script>
<!-- Bootstrap -->
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- Waypoints -->
<script th:src="@{js/jquery.waypoints.min.js}"></script>
<!-- Main JS -->
<script th:src="@{js/main.js}"></script>
</body>
</html>